body {
  margin: 1em !important;
}
#wrapper {
  margin: 1em;
  max-width: 960px;
}
#editor-container.error {
  background-color: rgba(255,0,0,.5)
}
.content {
  border-color: lightgray;
  border-style: solid;
}
#warning-box {
  background-color: rgba(255, 255, 0, .2);
}
.json-editor-btn-add {
  background: darkgreen !important;
  border-color: darkolivegreen !important;
}
.json-editor-btn-delete {
  background: firebrick !important;
  border-color: maroon !important;
}

div.title {
  display: inline-block;
}
div.title p {
  font-style: italic;
}
div.title p span {
  font-style: normal;
}
div.submit {
  display: inline-block;
  vertical-align: top;
}

/* Make the "required" field popover behave like a popover-right popover */
[data-schemapath*="required"] .popover.popover-left .popover-container {
  left:100%;
  top:50%
}
[data-schemapath*="required"] .popover.popover-left :focus+.popover-container,
[data-schemapath*="required"] .popover.popover-left:hover .popover-container {
  transform:translate(0,-50%) scale(1)
}